.container {
    /* Podés visitar: https://developer.mozilla.org/es/docs/Learn/CSS/CSS_layout/Flexbox#el_modelo_flexible para entender el modelo Flexbox */
    display: flex;
    /* Establece el contenedor como un contenedor flex */
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan en líneas adicionales si no hay suficiente espacio */
    justify-content: center;
    /* Centra los elementos a lo largo del eje principal horizontal */
    align-items: center;
    /* Centra los elementos a lo largo del eje secundario vertical */
    background-color: #ceb696;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;

}
body{
    background-color: #fbf6ef
}


header {

    padding: 25px;
    margin-right: 9px;
}

.encabezado {
    display: flex;
    /* Establece el encabezado como un contenedor flex */
    align-items: baseline;
    /* Alinea los elementos del encabezado a lo largo de la línea de base */
    justify-content: space-between;
}

.container-title {
    width: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.container-image {
    color: #0d3b66;
    text-align: center;
    width: 100%;
    font-family: 'Staatliches', sans-serif;
    font-size: 25px;


}

.box {
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 290px;
}

.imagen {
    width: 100%;
}

.aside {
    justify-content: center;
    align-content: center;
    display: inline-flex;
    width: 100%;
    background-color:#0d3b66
}

.imagengrande {
    width: 100%;
}

.contenedor {
    display: flex;
}

.boxgrande {
    margin: 10px;
    text-align: center;
    width: 800px;
}

 ul {
    
    display: inline-flex;
    list-style: none;
 
    
}

.link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Staatliches', sans-serif;
margin-left: 100px;
list-style: none;
}

.aside2 {
    margin-right: 30px;
}
.imagen1{
    width: 500px;
}
.imagen-principal{
    width: 100%;
}